body{
    background-image: url(/matrix.jpg);
    background-repeat: no-repeat;
    background-position: (0,0);
    position: fixed;
}

p::first-letter{
  font-size: 34px;
  font-weight: 900;
  color: #0a9b3a;
}


.contenedor1{
    background-color: black;
    margin-top: 40px;
    height: 320px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
}

.encabezado1{
    font-family: Impact;
    color: #ebe8db;
    font-size: 200%;
    text-align: center;
}

.division1{
    display: flex;
    flex: wrap;
}

.parrafos1{
    font-size: 14px;
    font-family: monospace;
    text-align: justify;
    text-indent: 20px;
    color: white;
    flex-grow: 1;
    margin-left: 35px;
    margin-right: 30px;
}

img{
    flex-grow: 1;
    float: right;
    width: 180px;
    border-radius: 20px;
}



.contenedor2{
    background-color: black;
    margin-top: 50px;
    height: 400px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;  
    padding: 35px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
}

.encabezado2{
    font-family: Impact;
    color: #ebe8db;
    font-size: 200%;
    text-align: center;
}

.division2{
    display: flex;
    flex-wrap: wrap;
}

.parrafos2{
    font-size: 14px;
    font-family: monospace;
    text-align: justify;
    text-indent: 20px;
    color: white;
    flex-grow: 1;
    margin-left: 35px;
    margin-right: 30px;
}

.enlace{
    color: #0a9b3a;
    font-weight: 900;
    font-family: Arial;
    text-align: center;
}
